html , body {
    height: 100%;
}

body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color: white;
    background-image: linear-gradient(#212B38, rgba(0, 76, 255, 0.753));
}

ul li { 
    /* color: blue; */
}

h1.title {
    /* color:blue; */
    font-size: 52px;
}

img { 
    border: 5px solid black;
    border-radius: 25px;
}

@media (max-width: 800px) {
    html,
    body {
        height: 100%;
    }
}

@media (max-width: 500px) {

    body {
        text-align: center
    }

    ul {
        list-style: none
    }

    li {
        border: 2px solid black;
        width: auto;
        margin: 10px 0px;
        padding: 10px
    }
}

@media (max-width: 420px) {
    html, body {
        height: 100%;
    }
}