html , body {
    height: 100%;
}

body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color: white;
    background-image: linear-gradient(#212B38, rgba(0, 76, 255, 0.753));
}

ul.nav {
    /* border: 5px solid green; */
    list-style: none;
    font-size: 20px;
    display: flex;
}

ul.nav li  { 
    /* color: blue; */
    /* border: 2px solid red; */
}

h1.title {
    /* color:blue; */
    font-size: 52px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

div.headImageContainer {
    width: 50%;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

img { 
    border: 5px solid black;
    border-radius: 25px;
}


@media (max-width: 800px) {
    html,
    body {
        height: 100%;
    }
}

    /* Mobile Body Style */

@media (max-width: 500px) {

    body {
        text-align: center
    }

    ul {
        list-style: none;
        /* border: 2px solid red; */
        padding: inherit;
        justify-content: space-evenly;
    }

    ul.nav li {
        border: 2px solid black;
        padding: 5px;
        border-style: dotted;
    }
}

@media (max-width: 420px) {
    html, body {
        height: 100%;
    }
}